# password file used when the local exim is authenticating to a remote
# host as a client.
#
# see exim4_passwd_client(5) for more documentation
#
# Example:
### target.mail.server.example:login:password
{% for auth in env.config.exim4.auth %}
{{ auth.domain }}:{{ auth.login }}:{{ auth.password }}
{% endif %}
