dc_eximconfig_configtype='{{ env.config.exim4.configtype }}'
dc_other_hostnames='{{ env.config.exim4.other_hostnames }}'
dc_local_interfaces='{{ env.config.exim4.local_interfaces }}'
dc_readhost='{{ env.config.exim4.readhost }}'
dc_relay_domains=''
dc_minimaldns='false'
dc_relay_nets=''
dc_smarthost='{{ env.config.exim4.smarthost }}'
CFILEMODE='644'
dc_use_split_config='false'
dc_hide_mailname='true'
dc_mailname_in_oh='true'
dc_localdelivery='mail_spool'
